@import '../../colors.scss';

.header {
   
    background-color: $Primary;
  
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    a{
        all:unset;
        color:white;
        cursor: pointer;
    }
}